<a href="https://colab.research.google.com/github/ReaganTiburan/Sales-Prediction/blob/main/Sales_Predection_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
filename = '/content/drive/MyDrive/Coding Dojo Project/Coding Dojo/02 Week 2: Pandas/03_Attachments/sales_predictions.csv'
df = pd.read_csv(filename)
df.head(20)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224

[20 rows x 12 columns]

## 1) How many rows and columns?

In [2]:
df.shape

(8523, 12)

# 2) What are the datatypes of each variable?

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

# 3) Are there duplicates? If so, drop any duplicates.

In [4]:
df.duplicated().sum()

0

# 4) Identify missing values.

In [5]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

# 5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [6]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

(8523, 12)

# Addressing Null Values on column 'Item_Weight'

In [7]:
df[df['Item_Weight'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [8]:
df[df['Item_Identifier'] == 'FDP10']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
585            FDP10         19.0  ...  Supermarket Type1          1905.5196
2623           FDP10         19.0  ...  Supermarket Type1          1164.4842
3382           FDP10         19.0  ...  Supermarket Type1          1164.4842
4585           FDP10         19.0  ...  Supermarket Type1          1376.2086
6087           FDP10         19.0  ...  Supermarket Type1          1482.0708
7883           FDP10         19.0  ...  Supermarket Type1          1270.3464

[7 rows x 12 columns]

In [9]:
filtered_df = df[df['Item_Weight'].notnull()] # filter all non-Null values at column 'Item_Weight'
filtered_df.info()
filtered_df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7060 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            7060 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           7060 non-null   object
 3   Item_Visibility            7060 non-null   float64
 4   Item_Type                  7060 non-null   object
 5   Item_MRP                   7060 non-null   float64
 6   Outlet_Identifier          7060 non-null   object
 7   Outlet_Establishment_Year  7060 non-null   int64
 8   Outlet_Size                4650 non-null   object
 9   Outlet_Location_Type       7060 non-null   object
 10  Outlet_Type                7060 non-null   object
 11  Item_Outlet_Sales          7060 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 717.0+ KB

(7060, 12)

In [10]:
selected = filtered_df[['Item_Identifier','Item_Weight']] # Create a New DataFrame containing the 2 columns only.
selected.duplicated().sum()

5505

In [11]:
unique = selected.drop_duplicates(subset=['Item_Identifier', 'Item_Weight']) # delete duplicate values
unique.info()
unique.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1555 entries, 0 to 8471
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Item_Identifier  1555 non-null   object
 1   Item_Weight      1555 non-null   float64
dtypes: float64(1), object(1)
memory usage: 36.4+ KB

(1555, 2)

![vlookup.JPG]()

In [12]:
unique.set_index('Item_Identifier', inplace=True) # Assigning column 'Item_Identifier' as the Index
df['Temp']=df.Item_Identifier.map(unique.Item_Weight) # code for vlookup from two DataFrames
df

     Item_Identifier  Item_Weight  ... Item_Outlet_Sales    Temp
0              FDA15        9.300  ...         3735.1380   9.300
1              DRC01        5.920  ...          443.4228   5.920
2              FDN15       17.500  ...         2097.2700  17.500
3              FDX07       19.200  ...          732.3800  19.200
4              NCD19        8.930  ...          994.7052   8.930
...              ...          ...  ...               ...     ...
8518           FDF22        6.865  ...         2778.3834   6.865
8519           FDS36        8.380  ...          549.2850   8.380
8520           NCJ29       10.600  ...         1193.1136  10.600
8521           FDN46        7.210  ...         1845.5976   7.210
8522           DRG01       14.800  ...          765.6700  14.800

[8523 rows x 13 columns]

Check Temp Value Column is Added with Values.

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  Temp                       8519 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 865.7+ KB

In [14]:
df[df['Temp'].isna()] # Filter NaN value at column N

     Item_Identifier  Item_Weight  ... Item_Outlet_Sales  Temp
927            FDN52          NaN  ...         1569.9564   NaN
1922           FDK57          NaN  ...         4434.2280   NaN
4187           FDE52          NaN  ...         3453.5046   NaN
5022           FDQ60          NaN  ...          120.5098   NaN

[4 rows x 13 columns]

In [15]:
df[['Temp']] = df[['Temp']].fillna(df.mean()) # Fill NaN value by fillna(mean) function

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [16]:
# check the Item_Weight assigned mean value
df[df['Item_Identifier'] == 'FDN52']

    Item_Identifier  Item_Weight  ... Item_Outlet_Sales      Temp
927           FDN52          NaN  ...         1569.9564  12.87542

[1 rows x 13 columns]

In [17]:
# counter check how near our assigned mean value to the actual mean value by 'Item_Type'
df[df['Item_Type'] == 'Frozen Foods'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Item_Weight                    12.867061
Item_Visibility                 0.065645
Item_MRP                      138.503366
Outlet_Establishment_Year    1998.024533
Item_Outlet_Sales            2132.867744
Temp                           12.782512
dtype: float64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
 12  Temp                       8523 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 865.7+ KB

In [19]:
df.drop(['Item_Weight'], axis=1, inplace=True) # Drop column 'Item_Weight'

In [20]:
df

     Item_Identifier Item_Fat_Content  ...  Item_Outlet_Sales    Temp
0              FDA15          Low Fat  ...          3735.1380   9.300
1              DRC01          Regular  ...           443.4228   5.920
2              FDN15          Low Fat  ...          2097.2700  17.500
3              FDX07          Regular  ...           732.3800  19.200
4              NCD19          Low Fat  ...           994.7052   8.930
...              ...              ...  ...                ...     ...
8518           FDF22          Low Fat  ...          2778.3834   6.865
8519           FDS36          Regular  ...           549.2850   8.380
8520           NCJ29          Low Fat  ...          1193.1136  10.600
8521           FDN46          Regular  ...          1845.5976   7.210
8522           DRG01          Low Fat  ...           765.6700  14.800

[8523 rows x 12 columns]

In [21]:
df.rename(columns = {'Temp':'Item_Weight'}, inplace = True) # Rename column 'Temp' to 'Item_Weight by dictionary key-value pairs.
df

     Item_Identifier Item_Fat_Content  ...  Item_Outlet_Sales Item_Weight
0              FDA15          Low Fat  ...          3735.1380       9.300
1              DRC01          Regular  ...           443.4228       5.920
2              FDN15          Low Fat  ...          2097.2700      17.500
3              FDX07          Regular  ...           732.3800      19.200
4              NCD19          Low Fat  ...           994.7052       8.930
...              ...              ...  ...                ...         ...
8518           FDF22          Low Fat  ...          2778.3834       6.865
8519           FDS36          Regular  ...           549.2850       8.380
8520           NCJ29          Low Fat  ...          1193.1136      10.600
8521           FDN46          Regular  ...          1845.5976       7.210
8522           DRG01          Low Fat  ...           765.6700      14.800

[8523 rows x 12 columns]

In [22]:
df.isna().sum()

Item_Identifier                 0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
Item_Weight                     0
dtype: int64

## Addressing Null Values on column 'Outlet_Size'

Based on Below DataFrame we can confidently assume that if:

**'Outlet_Location_Type'** => *Tier 2* the corresponding **'Outlet_Size'** => 'Small'

LikeWise condfidently assume that if the:

 **Outlet_Type** =>* Grocery* Store the corresponding 'Outlet_Size' => 'Small'** 

**Therefore: we can increase our confident to assume that all Null/NaN values in the Outlet_Size => 'Small'**

In [23]:
outlet_notNull= df[df['Outlet_Size'].notnull()] # Filter non-Null values
#outlet_notNull.head()
outlet_notNull.groupby(['Outlet_Identifier','Outlet_Establishment_Year','Outlet_Location_Type','Outlet_Type','Outlet_Size'])[['Outlet_Type']].count() # specify which column will be included to apply and aggregate function on

                                                                                                Outlet_Type
Outlet_Identifier Outlet_Establishment_Year Outlet_Location_Type Outlet_Type       Outlet_Size
OUT013            1987                      Tier 3               Supermarket Type1 High                 932
OUT018            2009                      Tier 3               Supermarket Type2 Medium               928
OUT019            1985                      Tier 1               Grocery Store     Small                528
OUT027            1985                      Tier 3               Supermarket Type3 Medium               935
OUT035            2004                      Tier 2               Supermarket Type1 Small                930
OUT046            1997                      Tier 1               Supermarket Type1 Small                930
OUT049            1999                      Tier 1               Supermarket Type1 Medium               930

In [24]:
outlet_isNUll= df[df['Outlet_Size'].isnull()] # Filter Null values
#outlet_isNUll.head()
outlet_isNUll.groupby(['Outlet_Location_Type','Outlet_Type'])[['Outlet_Type']].count() # specify which column will be included to apply and aggregate function on

                                        Outlet_Type
Outlet_Location_Type Outlet_Type
Tier 2               Supermarket Type1         1855
Tier 3               Grocery Store              555

In [25]:
df['Outlet_Size'] = df['Outlet_Size'].fillna('Small') # Fill the column 'Outlet_Size which contains NaN values with a string 'Small'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Identifier          8523 non-null   object
 6   Outlet_Establishment_Year  8523 non-null   int64
 7   Outlet_Size                8523 non-null   object
 8   Outlet_Location_Type       8523 non-null   object
 9   Outlet_Type                8523 non-null   object
 10  Item_Outlet_Sales          8523 non-null   float64
 11  Item_Weight                8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

## 6) Confirm that there are no missing values after addressing them.

In [26]:
df.isna().sum() # Show that no NaN values in the DataFrame

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Item_Weight                  0
dtype: int64

## 7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [27]:
df.head()

  Item_Identifier Item_Fat_Content  ...  Item_Outlet_Sales Item_Weight
0           FDA15          Low Fat  ...          3735.1380        9.30
1           DRC01          Regular  ...           443.4228        5.92
2           FDN15          Low Fat  ...          2097.2700       17.50
3           FDX07          Regular  ...           732.3800       19.20
4           NCD19          Low Fat  ...           994.7052        8.93

[5 rows x 12 columns]

In [28]:
df.groupby(['Item_Fat_Content']).sum()

                  Item_Visibility     Item_MRP  ...  Item_Outlet_Sales   Item_Weight
Item_Fat_Content                                ...
LF                      21.054330   43857.1062  ...       6.552424e+05   4095.435000
Low Fat                326.541080  717390.8394  ...       1.101503e+07  66033.805420
Regular                200.970026  409413.1214  ...       6.457454e+06  36675.336261
low fat                  7.313655   15071.7328  ...       2.338270e+05   1411.150000
reg                      7.764190   15948.6810  ...       2.295765e+05   1521.480000

[5 rows x 5 columns]

In [29]:
#df['Item_Fat_Content'] = df['Item_Fat_Content'].str.replace('LF', 'Low Fat') 
df['Item_Fat_Content'].replace({'LF': 'Low Fat', 'low fat': 'Low Fat', 'reg': 'Regular'},inplace=True)

In [30]:
df.groupby(['Item_Fat_Content']).sum()

                  Item_Visibility     Item_MRP  ...  Item_Outlet_Sales   Item_Weight
Item_Fat_Content                                ...
Low Fat                354.909065  776319.6784  ...       1.190409e+07  71540.390420
Regular                208.734216  425361.8024  ...       6.687031e+06  38196.816261

[2 rows x 5 columns]

## 8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [31]:
df.describe()

       Item_Visibility     Item_MRP  ...  Item_Outlet_Sales  Item_Weight
count      8523.000000  8523.000000  ...        8523.000000  8523.000000
mean          0.066132   140.992782  ...        2181.288914    12.875420
std           0.051598    62.275067  ...        1706.499616     4.645008
min           0.000000    31.290000  ...          33.290000     4.555000
25%           0.026989    93.826500  ...         834.247400     8.785000
50%           0.053931   143.012800  ...        1794.331000    12.650000
75%           0.094585   185.643700  ...        3101.296400    16.850000
max           0.328391   266.888400  ...       13086.964800    21.350000

[8 rows x 5 columns]